<ion-header>

  <ion-navbar>
    <ion-title *ngIf="influencer">{{influencer.fullName}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div id="profile-bg"></div>

  <div id="content">
    <div id="profile-info" padding *ngIf="influencer">
      <img id="profile-image" [src]="influencer.profilePic">
      <ion-row class="profile-numbers">
        <ion-col col-12 text-center padding-top>
          <h3 id="profile-name">{{influencer.fullName}}</h3>
          <h6> {{followers}} Followers</h6>
        </ion-col>
      </ion-row>

      <button ion-button small *ngIf="!isfollowing" class="follow-button" (click)="follow()">Follow</button>
      <button ion-button small outline *ngIf="isfollowing" class="follow-button" (click)="unfollow()">Unfollow</button>
      <ion-list>
        <ion-list-header>
          Posts
        </ion-list-header>
        <ion-item>

        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>
