<ion-header>

  <ion-navbar>
    <ion-title *ngIf="influencer">{{influencer.fullName}}</ion-title>
    <ion-buttons end *ngIf="!isPushed">
      <button ion-button icon-only (click)="goToSettingsPage()">
         <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <div id="profile-bg"><img [src]="influencer.backgroundPic" /></div>

  <ion-fab top right *ngIf="isPushed">
    <button ion-fab mini outline (tap)="askQuestion()"><ion-icon name="help"></ion-icon></button>
  </ion-fab>

  <div id="content">
    <div id="profile-info" padding *ngIf="influencer">
      <img id="profile-image" [src]="influencer.profilePic">
      <ion-row class="profile-numbers">
        <ion-col col-12 text-center padding-top>
          <h3 id="profile-name">{{influencer.fullName}}</h3>
          <h6> {{followers}} Followers</h6>
        </ion-col>
      </ion-row>

      <button ion-button small *ngIf="!isfollowing && isPushed" class="follow-button" (click)="follow()">Follow</button>
      <button ion-button small outline *ngIf="isfollowing && isPushed" class="follow-button" (click)="unfollow()">Unfollow</button>
      <ion-list>
        <ion-list-header>
          Posts
        </ion-list-header>
        <ion-item>
            No posts yet!
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>
