page-login{
  ion-content {
    // color: white !important;
    background-image: url('../assets/images/loginbg.png');
    background-size: cover;
  }
  // .backgroundbg {
  //   width: 100%;
  //   height: 100%;
  //   position: absolute;
  //   z-index: -2;
  //   background-image: url('../assets/images/loginbg.png');
  //   background-size: cover;
  //   background-repeat: no-repeat;
  //   filter: brightness(50%);
  //   filter: blur(10px);
  // }
  // .background {
  //   position: absolute;
  //   width: 100%;
  //   height: 100%;
  //   background-image: url('../assets/images/login.png');
  //   background-size: cover;
  //   background-repeat: no-repeat;
  // }

  .loginform {
    width: 90%;
    position: absolute;
    bottom: 0;
    left: 5%;
    // padding-top: 110%;
  }
  ion-item {
    background-color: transparent !important;
    color: white !important;
  }
  input::placeholder {
    color: white !important;
  }

  //iOS formatting
  ion-item:first-child {
    border-top: 0px !important;
  }

  .logoSpace{
    height: 50%;
  }

  .loginBtn{
    background-color: #0AAB83;
  }

  .signupBtn{
    color: #0AAB83;
  }

}
