page-question {
    .money {
        font-size: 1.8em;
        color: royalblue;
        text-align: center;
        margin: 10px;
    }
    .charLeft {
      color: map-get($colors, primary);
    }
    ion-avatar img {
      border: 2px solid map-get($colors, primary);
    }
    .toWhom {
      font-weight: bold;
    }

    .groupImg img {
      border-radius: 50%;
      filter: grayscale(100%);
      width: 70px;
      height: 70px;
    }
    .selected {
      filter: grayscale(0%) !important;
      border: 2px solid green;
    }
    .groupImg {
      display: inline-block;
      width: 70px;
      margin-left: 3%;
    }
    .groupImg:first-child {
      margin: 0px;
    }
    .groupImg:last-child {
      margin-right: 10%;
    }
    ion-scroll {
      height: 100px;
      width: 90vw;
    }
    ion-scroll .scroll-content {
      padding: 0px !important;
    }

}
