<ion-header>
    <ion-navbar>
      <ion-searchbar
        [(ngModel)]="myInput"
        [showCancelButton]="true"
        (ionInput)="getItems($event)"
        (ionCancel)="onCancel($event)">
      </ion-searchbar>
    </ion-navbar>
  </ion-header>



<ion-content>

  <div *ngIf="!isInfluencer">
  <!-- Header image and text  -->
    <div text-center class="header">
      <h2>Influencers</h2>
      <!-- <img src="../../assets/lebron-influencer.jpg" /> -->
    </div>

  <!-- List of the influencers -->
  <ion-row>
    <ion-col class="top3" col-4 *ngFor="let influencer of top3" text-center (tap)="openQuestionPage(influencer)">
      <img  [src]="influencer.profilePic" />
      <h6>{{influencer.fullName}}</h6>
    </ion-col>
  </ion-row>
    <ion-list>
      <button ion-item
              *ngFor="let influencer of influencersData"
              (tap)="openQuestionPage(influencer)">
        <ion-avatar item-start> <!-- Influencer avatar -->
          <img src={{influencer.profilePic}}/>
        </ion-avatar>
        <h4>{{influencer.fullName}} </h4>
      </button>
    </ion-list>
  </div>
  <div *ngIf="isInfluencer">
    <!-- Header image and text  -->
      <div text-center>
        <h2>Questions to me</h2>
      </div>
      <ion-list *ngIf="questionsToMe">
        <ion-item *ngFor="let question of questionsToMe">
          <p text-wrap id="question" padding-bottom>Q. {{this.question.question}}?</p>
          <h5>Donating: <span id="value">${{this.question.value}}</span></h5>
          <h5>Asked by:<span id="asker"> {{question.user.fullName}}</span></h5>
          <ion-note item-end float-right>
            <!-- <ion-icon name="eye"></ion-icon> <span id="views">1220</span> -->
            <span class="answer" (tap)="gotoAnswer(question)">Answer</span>
          </ion-note>
        </ion-item>
      </ion-list>
  </div>

</ion-content>
