page-inquire {
  $primary: map-get($colors, primary);
  #influencer, #asker, #views {
    color: $primary
  }
  .background {
    background-image: url('../assets/lebron-influencer.jpg');
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -10;
  }
  .backgroundbg {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: black;
    opacity: 0.3;
    z-index: -2;
  }
  ion-avatar img {
    height: 45px !important;
    width: 45px !important;
  }
  h1 {
    color: white;
    font-size: 2.5em;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .infcontent {
      background-color: white;
      opacity: 0.85;
  }
  .top3 {
    img {
      border-radius: 50%;
      border: 2px solid #929292;
      width: 80px;
      height: 80px;
    }
  }
  .top3:nth-child(2) img {
    width: 110px;
    height: 110px;
  }
  ion-note {
    font-size: 0.9em;
    margin: 0 !important;
  }

  .header img {
    position: absolute;
    left: 0;
    top: 10;
  }
  #question {
    font-size: 1.1em;
    color: black !important;
  }
  .answer {
    color:$primary;
  }
  #value {
    color: green;
    font-weight: bold;
  }
  .featured {
    width: 100%;
    height: 10%;
  }

  .profile-icon {
    img {
      border-radius: 50%;
    	width: 48px;
    	height: 48px;
    }
  }

  .influencer-name {
    vertical-align: middle;
    text-align: center;
  }


  input, input::placeholder {
    color:$primary !important;
  }
  .searchbar-search-icon{
    // background-image: url("http://i.imgur.com/ATn5jLZ.png");
    color:$primary !important;
  }


}
