<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

  <ion-content padding [style.background-color]="user.isInfluencer ? '#2a323a' : 'none' ">
    <div *ngIf="!user.isInfluencer">
      <ion-list>
        <flash-card *ngFor="let question of questions">
          <div class="flash-card-front">
            <ion-item>
              <h3 id="influencer" padding-bottom (tap)="gotoInfluencer(question.influencer)">{{question.influencer.fullName}}</h3>
              <p text-wrap id="question" padding-bottom text-wrap>{{question.question}}? </p>
              <h5>Asked by:<span id="asker"> {{question.user.fullName}}</span>
                <ion-note item-end float-right>
                  <ion-icon name="eye"></ion-icon> <span id="views">1220</span>
                </ion-note>
              </h5>
            </ion-item>
          </div>

          <div class="flash-card-back">
            <ion-item>
                <ion-avatar item-start>
                  <img [src]="question.influencer.profilePic" />
                </ion-avatar>
                <h3 id="influencer" padding-bottom (tap)="gotoInfluencer(question.influencer)">{{question.influencer.fullName}}</h3>
              <p text-wrap id="question" padding-bottom text-wrap>{{question.answer}}</p>
            </ion-item>
          </div>
      </flash-card>
    </ion-list>
  </div>
  <div *ngIf="user.isInfluencer">
    <ion-list>
      <ion-item class="profileInfo">
        <ion-avatar item-start>
          <img [src]="user.profilePic" />
        </ion-avatar>
        <h2 text-capitalize><strong>{{user.fullName}}</strong></h2>
        <div>
          <p> 7.5K Followers </p>
          <p [style.color]="'#57BB99'"> 32.3K Raised </p>
        </div>
      </ion-item>
    </ion-list>

    <!-- Statistics about questions answered and unanswered  -->
    <ion-grid>
      <ion-row text-center>
        <ion-col col-1>
        </ion-col>
        <ion-col col-4>
          <div class="progress">
            {{answered}}
          </div>
          <round-progress [current]="answered" [max]="user.questionsToMe.length" [stroke]="10" [color]="'#57BB99'" [responsive]="true"></round-progress>
        </ion-col>
        <ion-col col-2>
        </ion-col>
        <ion-col col-4>
          <div class="progress">
            {{user.questionsToMe.length - answered}}
          </div>
          <round-progress [current]="user.questionsToMe.length - answered" [max]="user.questionsToMe.length" [stroke]="10" [color]="'#E55558'" [responsive]="true"></round-progress>
        </ion-col>
        <ion-col col-1>
        </ion-col>
      </ion-row>
      <ion-row text-center>
        <ion-col col-6 text-nowrap>
          <h4>ANSWERED</h4>
        </ion-col>
        <ion-col col-6 text-nowrap>
          <h4>UNANSWERED</h4>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-list-header>
      THIS MONTH
    </ion-list-header>
    <ion-grid class="moneyRaised">
      <ion-row text-center>
        <ion-col col-3>
        </ion-col>
        <ion-col col-6>
          <div class="progress">
            {{moneyRaised | currency:'USD':'symbol-narrow':'1.0-1'}}
          </div>
          <round-progress [current]="moneyRaised" [max]="1000" [stroke]="10" [color]="'#57BB99'" [responsive]="true"></round-progress>
        </ion-col>
        <ion-col col-3>
        </ion-col>
      </ion-row>
      <ion-row text-center>
        <ion-col col-12 text-nowrap>
          <h4>MONEY RAISED</h4>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>
