page-home {

  //If user is not influencer
  #influencer, #asker, #views {
    color: map-get($colors, primary);
  }
  ion-avatar img {
    border: 2px solid map-get($colors, primary);
  }
  ion-row h3 {
    margin-top: 15px !important;
  }
  ion-note {
    font-size: 0.9em;
    margin: 0 !important;
  }
  #question {
    font-size: 1.1em;
    color: black;
  }
  p {
    font-size: 0.8em !important;
  }
  .back ion-item {
    background-color: #2a323a;
    .item-inner {
      border: none !important;
    }
    #question {
      color: white;
    }
    p, h3 {
      font-weight: bold;
    }
  }






  //If user is influencer
  .background {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    height: 100%;
  }
  .influencerProfile {
    background-color: #2a323a !important;
  }
  .profileInfo ion-avatar img {
    width: 60px;
    height: 60px;
    border: none;
  }
  .profileInfo {
    background-color: transparent;
    border: none !important;
    color: white;
  }

}
