// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@font-face {
  font-family: CenturyGothic;
  src: url("../assets/fonts/CenturyGothic.ttf");
}
@font-face {
  font-family: GeometriaLight;
  src: url("../assets/fonts/geometria-light.otf");
}

.toolbar-background, .tabbar {
  background-color: #2a323a !important;
}
.toolbar-title {
  color: map-get($colors, primary);
}

.ion-ios-applogo,.ion-md-applogo, {
  content: url('../assets/logo.png');
  max-width: 25%;
}
.ion-ios-applogo-outline, .ion-md-applogo-outline {
  content: url('../assets/logo.png');
  filter: grayscale(90%) !important;
  max-width: 25%;
}

* {
  font-family: 'GeometriaLight';
}
