page-answer {
  #asker, .charLeft {
    color: map-get($colors, primary);
  }
  #value {
    color: green;
    font-weight: bold;
  }
  h2:first-letter {
    text-transform: capitalize;
  }
  #logo {
    // height: 40px;
  }
}
