page-answer {
  $primary: map-get($colors, primary);
  .question {
    margin-bottom: 0px;
  }
  #asker, .charLeft {
    color: $primary;
  }
  #value {
    color: green;
    font-weight: bold;
  }
  h2:first-letter {
    text-transform: capitalize;
  }
  #logo {
    height: 35px;
    width: 40px;
  }
  .avatarPic {
    border: 2px solid $primary;
  }
  .toWhom {
    font-weight: bold !important;
    color: black;
  }

  //Footer
  ion-footer .toolbar-background {
    background-color: $primary !important;
  }
}
