page-signup{
  .back-button{
      color: #0AAB83;
  }

  .signupBtn{
    background-color: #0AAB83;
  }

  .profileHeader {
    margin: 5%;
  }

  .avatar {
    border-radius: 50%;
    width: 50%;
    margin: auto;
  }

}
