page-charities {
  ion-content {
    overflow-y: hidden;
    overflow-x: hidden;
    color: white !important;
  }
  ion-row {
    height: 70vh;
  }
  .backgroundbg {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -2;
    background-image: url('../assets/images/loginbg.png');
    background-size: cover;
    filter: blur(12px);
  }
  ion-col img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
  }
  p {
    margin: 0;
  }
  h1 {
    margin-bottom: 0;
  }
  @media (min-width: 400px) {
    ion-col img {
      width: 100px;
      height: 100px;
    }
  }
}
